body{
    background: rgb(86, 167, 242); /* fallback for old browsers */
    background: -webkit-linear-gradient(to top , rgb(255, 253, 248), rgb(46, 154, 255));  /*Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( rgb(1, 162, 255),rgb(255, 252, 244)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}
#particles {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)); /* url(xmas.jpg); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    top: 0;


}


.bg-tran{
    background: transparent;
}

.bg-glass{
    background: rgba(255,255,255,0.3);
}
li{
    
    margin-left: 20px;
}

*{
    font-family: "Microsoft JhengHei";
}
a {
    word-break: break-all;
    word-wrap: break-word;
  }
 
  img {
    display: table-cell;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: calc(50% - 25px);
/*     margin-left: auto;
    margin-right: auto; */
  }
  #loading {
    height: 100vh;
    position: fixed;
    top:0 ;
    left: 0;
    z-index: 999;
}

.label{
    position: relative;
    z-index: initial;
}
.map{
    position: relative;
    z-index: 0;
    filter: drop-shadow(rgba(0,0,0,0.5) 5px 0 3px); 
}
.labeltop{
    width: 450px;
    position: absolute;
    display: block;
    /* background: #c0df8e; */
    background: linear-gradient(to right, rgb(204, 230, 136),rgba(192, 223, 142, 0));
    border: solid 0px gray;
    top: 640px;
    left: 0;
    font-weight: bolder;
    z-index: -10;
}
.labeltop2{
    width: 450px;
    position: absolute;
    display: block;
    /* background: #5dc47a; */
    background: linear-gradient(to right, rgba(93,196,122,1),rgba(93,196,122,0));
    border: solid 0px gray;
    top: 600px;
    left: 0;
    font-weight: bolder;
    z-index: -10;
}



#modal{
    white-space:normal;
} 
#modal h5, h6{ 
    font-weight: 800 !important;
    color: rgb(58, 81, 133) !important;
} 

#content {
    /* 100vh - nav高 - footer高 */
    min-height: calc(100vh - 70px - 190px)
}
#content, #footer {
    display: none;
}

.box{
    border-radius: 15px !important;
    overflow: hidden !important;
    height: 610px;

}
.board{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(0,140,10,0.8));
    border-radius: 15px 15px 0 0;
    width: 100%; 
    display: block;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4) ;
    position: relative;
    z-index: 998;
    
}
#list{

    
    z-index: initial !important;
}

#list>tr:not(:last-child) {
        border: 1px dashed rgb(135, 168, 212); border-top: none; border-left: none; border-right: none;
        /* color: red !important; */
      }


#list h5, h6{ 
    font-weight: 800 !important;
    color: rgb(58, 81, 133) !important;
} 

.table-light, .table-light>td, .table-light>th {
    width: 100%; 
    position: relative;
    background-color: rgba(255,255,255,0.8);
/*     line-height: 50px; */
    overflow: auto;
    border-radius: 0 0 10px 10px !important;
    transition: all 0.5s;
}
.table td{
    padding: 0px 0 0 0px;
    overflow: hidden;
    vertical-align: middle;
}
.table tr{
    padding: 0px;
    margin: auto;
    display: table;
    overflow: hidden;
    
}

#dialog{
    font-size: 16px;
    font-weight: 800 !important;
    position: relative;
    opacity: 0.9;
    /* border-radius: 15px; */
}
.item{
    line-height: 52px;
    padding: 0 px;    

}

.tooltip-inner{
    background: rgba(0,0,255,0.5);
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: rgba(0,0,255,0.5)
  }

path{
    transition: all 0.5s;
    cursor: pointer;
}

#top path:hover{
    fill: #e255e2;
    transform: translateY(-8px);
}

.text-gray-dark{
    color:#343a40;
    font-size:24px;
}
::-webkit-scrollbar {
    width: 15px;
    transition: all 0.5s;
}
:-webkit-scrollbar-track {
    background-color:rgba(255,255,255,0);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius:10px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); 
} /* this will style the thumb, ignoring the track */

/* ::-webkit-scrollbar-button {
} optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

@media (max-width: 575.98px) {
    #content {
        /* 100vh - nav高 - footer高 */
        min-height: calc(100vh - 70px - 73px)
    }
}

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #content {
        /* 100vh - nav高 - footer高 */
        min-height: calc(100vh - 70px - 85px) 
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #content {
        /* 100vh - nav高 - footer高 */
        min-height: calc(100vh - 70px - 153px)
     }
}
 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #content {
        /* 100vh - nav高 - footer高 */
        min-height: calc(100vh - 70px - 180px)
    }
}